/* Used for the top menu bar */
/*
body{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12pt;background-color: #ffffff;}
*/
div#header{background-color:rgb(57,65,89);color:#fff;font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:12pt;border:1px solid #000033;}
div#nav{font-family:Arial,Helvetica,sans-serif;font-size:12pt;background:#EEE;border:1px solid #000033;color:#000;height:20pt;} 
div#nav ul{margin:0px;padding:0px;} 
div#nav li{position:relative;list-style:none;margin:0px;float:left;font-weight:bold;line-height:1.2em;color:#000033;border-right:1px solid #ccc;padding-right:5px;padding-left:5px;} 
div#nav li:hover{color:#FFF;background:#D9D9D9;font-size:12pt;}
div#nav li a{display:block;padding:0.25em 0 0.25em 0.5em;text-decoration:none;color:#000033;}
/*
li
{
font-family: arial, 'sans serif'; 
margin-left: 15pt;
}
p, li {font-size: 12pt}
*/

/* 
a:link    {color:darkred}
a:visited {color:darkred}
a:active  {color:red}
*/
a:link    {text-decoration:none}
a:visited    {text-decoration:none}
a:active    {text-decoration:none}

h1 {font-size: 14pt}
h2 {font-size: 12pt}
h3 {font-size: 11pt}
h1,h2,h3,hr 
{
	color:saddlebrown; 
}

img {border: none !important;}

# Important for the mosaics
table {
	border-collapse:collapse;
}
.table_collapse
{ 
	border-collapse: collapse;
}
.table-font
{ font-size: 10pt; font-family: Courier;}
	<style type="text/css">
}
th {background-color:#FAEBD7}
th,td {
padding:0;
}
.tdimg
{
   display: table-cell;
   background-repeat : no-repeat;
   #background-position:-16px -15px;
   overflow: hidden;
   #height: 100px; 
   #width: 119px;	
   height: 150px; 
   width: 96px;	
}

/*
form.menu_hoursago { display: none }
form.menu_absolutetime { display: none }
div.menu_arrows { display: block }
*/

/* Hide divs on load that have class="hidden" */
.hidden { display:none;}
